<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Add Citizen Data</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript">
	$("document").ready(function(){
		var id_company = 0;
		var select_type = '<select>'+
		  				  '<option value="1">Raw Food</option>'+
  						  '<option value="2">Raw Weapon</option>'+
						  '<option value="3">Weapon</option>'+
						  '<option value="4">Food</option>'+
						'</select>';

		$("#storage").on('click',function(e){
			if ($('#storage').is(':checked')) {
				input = '<label>Storage</label><input type="text" name="q_storage">';
				$("#citizen_storage").html(input);
			}
			else{
				$("#citizen_storage").html("");
			}

		});

		$("#company").on('click',function(e){

			if ($('#company').is(':checked')) {
				$("#citizen_company").show();
			}
			else{
				$("#citizen_company").hide();
				$("#companies").html("");
			}

		});

		var num_company= 0;

		$("#button1").on('click',function(){
			var select = $(select_type);
			var div = $('<div id="div'+num_company+'">').append(select);
			//console.log(div);
			div.children('select').attr('id',"select"+num_company);
			div.children('select').attr('name',"select"+num_company);
			var quality = $('<select id="quality'+num_company+'" name="quality'+num_company+'">');
			for (var i = 1; i < 8; i++) {
				quality.append('<option value="'+i+'">Q'+i+'</option>');
			};
			div.append(quality);
			div.append($('<label>Quantity</label>'));
			div.append($('<input name="input'+num_company+'">'));
			//console.log(div.children('select'));
			$("#companies").append(div);
			num_company++;

		});



		$("#citizen_company").hide();

	});

	</script>
</head>
<body>
<form method="post">
{% csrf_token %}
<div id="citizen_data">
	<p><label for="id_name">Name:</label> <input id="id_name" maxlength="100" name="name" type="text"></p>
	<p><label for="url_or_id">Citizen id or Url:</label> <input id="url_or_id" name="url_or_id" type="text"></p>
</div>
<label>Add Storage</label>
<input type="checkbox" id="storage" name="add_Storage" value="Storage">
<div id="citizen_storage">
<div></div>
</div>
<label>Add Training grounds</label>
<div id="TG">
	<label>Weights Room</label>
	<select name="weights_room">
		<option value="1">Q1</option>
  		<option value="2">Q2</option>
		<option value="3">Q3</option>
		<option value="4">Q4</option>
	</select>
	<label>Climbing Center</label>
	<select name="climbing_center">
		<option value="1">Q1</option>
  		<option value="2">Q2</option>
		<option value="3">Q3</option>
		<option value="4">Q4</option>
	</select>
	<label>Shooting Range</label>
	<select name="shooting_range">
		<option value="1">Q1</option>
  		<option value="2">Q2</option>
		<option value="3">Q3</option>
		<option value="4">Q4</option>
	</select>
	<label>Special Forces Center</label>
	<select name="special_forces_center">
		<option value="1">Q1</option>
  		<option value="2">Q2</option>
		<option value="3">Q3</option>
		<option value="4">Q4</option>
	</select>

</div>
<label>Add Companies</label>
<input type="checkbox" id="company" name="add_company" value="Storage">
<div id="citizen_company">
<button id="button1" type="button">Add
</button>
<div id="companies">
</div>
</div>
<div>
<button>Send</button>
</div>
</form>
</body>
</html>