<div id="companies">
	<div id="rawfood">
		<ul>
			<li>
			<img src="http://www.erepublik.net/images/buildings/7.png"/>
			<span>{{ companies.RawFood.1 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/8.png"/>
			<span>{{ companies.RawFood.2 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/9.png"/>
			<span>{{ companies.RawFood.3 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/10.png"/>
			<span>{{ companies.RawFood.4 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/11.png"/>
			<span>{{ companies.RawFood.5 }}</span>
			</li>
		</ul>
		
	</div>
	<div id="rawweapon">
		<ul>
			<li>
			<img src="http://www.erepublik.net/images/buildings/12.png"/>
			<span>{{ companies.RawWeapon.1 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/13.png"/>
			<span>{{ companies.RawWeapon.2 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/14.png"/>
			<span>{{ companies.RawWeapon.3 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/15.png"/>
			<span>{{ companies.RawWeapon.4 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/16.png"/>
			<span>{{ companies.RawWeapon.5 }}</span>
			</li>
		</ul>
		
	</div>
	<div id="food">
		<ul>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_1.png"/>
			<span>{{ companies.Food.1 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_2.png"/>
			<span>{{ companies.Food.2 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_3.png"/>
			<span>{{ companies.Food.3 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_4.png"/>
			<span>{{ companies.Food.4 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_5.png"/>
			<span>{{ companies.Food.5 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_6.png"/>
			<span>{{ companies.Food.6 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_7.png"/>
			<span>{{ companies.Food.7 }}</span>
			</li>
		</ul>
		
	</div>
	<div id="weapon">
		<ul>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_1.png"/>
			<span>{{ companies.Weapon.1 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_2.png"/>
			<span>{{ companies.Weapon.2 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_3.png"/>
			<span>{{ companies.Weapon.3 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_4.png"/>
			<span>{{ companies.Weapon.4 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_5.png"/>
			<span>{{ companies.Weapon.5 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_6.png"/>
			<span>{{ companies.Weapon.6 }}</span>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_7.png"/>
			<span>{{ companies.Weapon.7 }}</span>
			</li>
		</ul>
		
	</div>

</div>