<div id="companies">
	<div id="rawfood">
		<ul>
			<li>
			<img src="http://www.erepublik.net/images/buildings/7.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/8.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/9.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/10.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/11.png"/>
			</li>
		</ul>
		
	</div>
	<div id="rawweapon">
		<ul>
			<li>
			<img src="http://www.erepublik.net/images/buildings/12.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/13.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/14.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/15.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/buildings/16.png"/>
			</li>
		</ul>
		
	</div>
	<div id="food">
		<ul>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_1.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_2.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_3.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_4.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_5.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_6.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_7.png"/>
			</li>
		</ul>
		
	</div>
	<div id="weapon">
		<ul>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_1.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_2.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_3.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_4.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_5.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_6.png"/>
			</li>
			<li>
			<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_7.png"/>
			</li>
		</ul>
		
	</div>

</div>