<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Add Citizen Data</title>
	<LINK href="../../static/css/base.css" rel="stylesheet" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript">
	$("document").ready(function(){
		$("img").on('click',function(e){

			console.log(e);
			var id = $(e.target).parent().parent().attr('id');
			var child = $("#"+id+ " div.input").children();
			console.log(child.index());
			if(child.index() == -1){
				var tam = $(e.target).height();
				var input = $('<input name='+id+'>');
				input.css("width",tam)
				$("#"+id+ " div.input").html($("<center>").append(input));	
			}else{
				$("#"+id+ " div.input").html("");

			}
			
		});

	});

	</script>
</head>
<body>
<div id="companies">
	<div id="rawfood">
		<ul>
			<li id="rawfood1">
			<div class="div">
				<span class="raw quality q1"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/7.png">
			</div>
			<div class="input">
			</div>
			</li>
			<li id="rawfood2">
			<div class="div">
				<span class="raw quality q2"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/8.png">
			</div>
			<div class="input">
			</div>
			</li>
			<li id="rawfood3">
			<div class="div">
				<span class="raw quality q3"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/9.png">
			</div>
			<div class="input">
			</div>
			</li>
			<li id="rawfood4">
			<div class="div">
				<span class="raw quality q4"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/10.png">
			</div>
			<div class="input">
			</div>
			</li>
			<li id="rawfood5">
			<div class="div">
				<span class="raw quality q5"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/11.png">
			</div>
			<div class="input">
			</div>
			</li>
		</ul>
	</div>
	<div id="rawweapon">
		<ul>
			<li id="rawweapon1">
			<div class="div">
				<span class="raw quality q1"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/12.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="rawweapon2">
			<div class="div">
				<span class="raw quality q2"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/13.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="rawweapon3">
			<div class="div">
				<span class="raw quality q3"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/14.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="rawweapon4">
			<div class="div">
				<span class="raw quality q4"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/15.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="rawweapon5">
			<div class="div">
				<span class="raw quality q5"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/buildings/16.png">
			</div>
			<div class="input">
			</div>
			
			</li>
		</ul>	
	</div>
	<div id="food">
		<ul>
			<li id="food1">
			<div class="div">
				<span class="manufacture quality q1"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_1.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="food2">
			<div class="div">
				<span class="manufacture quality q2"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_2.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="food3">
			<div class="div">
				<span class="manufacture quality q3"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_3.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="food4">
			<div class="div">
				<span class="manufacture quality q4"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_4.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="food5">
			<div class="div">
				<span class="manufacture quality q5"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_5.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="food6">
			<div class="div">
				<span class="manufacture quality q6"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_6.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="food7">
			<div class="div">
				<span class="manufacture quality q7"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/1_7.png">
			</div>
			<div class="input">
			</div>
			
			</li>
		</ul>	
	</div>
	<div id="weapon">
		<ul>
			<li id="weapon1">
			<div class="div">
				<span class="manufacture quality q1"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_1.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="weapon2">
			<div class="div">
				<span class="manufacture quality q2"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_2.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="weapon3">
			<div class="div">
				<span class="manufacture quality q3"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_3.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="weapon4">
			<div class="div">
				<span class="manufacture quality q4"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_4.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="weapon5">
			<div class="div">
				<span class="manufacture quality q5"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_5.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="weapon6">
			<div class="div">
				<span class="manufacture quality q6"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_6.png">
			</div>
			<div class="input">
			</div>
			
			</li>
			<li id="weapon7">
			<div class="div">
				<span class="manufacture quality q7"></span>
			</div>
			<div>
				<img src="http://www.erepublik.net/images/modules/manager/factory_buildings/2_7.png">
			</div>
			<div class="input">
			</div>
			
			</li>
		</ul>
	</div>
</div>
</body>
</html>